<div class="container down">
  <!-- Modal HTML Markup -->
  <div id="myModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @programa, html: { class: 'form-horizontal' } do |f| %>
            <%= f.input :nombre , autofocus: true, placeholder:"Nombre De la programa" , autocomplete: "nombre", require: true %>
            <%= f.association :facultad, label_method: :nombre, value_method: :id , require: true , prompt: 'Selecione Tipo De Facultad' , input_html: {min:"1"}  %>
            <%= f.button :submit, "Registrar Programa",  class: "btn-primary block full-width m-b" %>
          <% end %>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
