<div class="container_session">
  <div class="session">
    <%= simple_form_for [@facultad, @programa] do |f| %>
      <%= f.input :nombre , autofocus: true, placeholder:"Nombre De la programa" , autocomplete: "nombre",require:true %>
      <%= f.button :submit, "Registrar Programa",  class: "btn-primary block full-width m-b" %>
    <% end %>
  </div>
</div>
