<h1 class="text-center mov-naranja">LINEA<strong> <%= @linea.nombre %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Nombre: </strong> <%= @linea.nombre %></p>
      </div>
    </div>
  </div>
</div>
<% if current_user.has_role? :Admin%>
  <div class="botonContainer">
    <div class="botonSeguimiento">
      <%= link_to "Editar Linea", edit_linea_path(@linea), class: "botonSeguimientoColor"%>
    </div>
    <div class="botonSeguimiento">
      <%= link_to 'Eliminar', { :action => :destroy, :id => @linea.id }, :method => :delete, :data => { :confirm => 'Estás seguro? de Eliminar esta linea'} , class: "botonSeguimientoColor"%>
    </div>
  </div>
<%end%>
