<% breadcrumb :linea_show, @linea %>
<h1 class="text-center mov-naranja">LINEA<strong> <%= @linea.nombre %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_picture">
      <div class="picture">
         <% if @linea.avatar.thumb.present?%>
            <%= image_tag @linea.avatar.thumb, alt: "Imagen de Linea"%>
          <%end%>
       </div>
    </div>
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Nombre:</strong> <%= @linea.nombre %></p>
      </div>  
    </div>
  </div>
</div>
<div id="new-linea"></div>
<div id="edit-linea"></div>
