<center><h1 class="mov-naranja">Editar datos de <strong><%= current_user.email%></strong></h1></center>
<div class="col-md-6">
  <div class="container_session">
      <div class="session">
        <%= simple_form_for current_user, url: edit_user_path do |f| %>
            <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"}%>
          <%= f.button :submit, "Actualizar datos", class: "btn-primary block full-width m-b" %>
        <% end %>
      </div>
  </div>
</div>
