<h1 class="text-center mov-naranja"><strong><%=  @user.email %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Correo:</strong> <%=  @user.email %></p>
      </div>
    </div>
  </div>
</div>
