<div class="container_session">
  <div class="session">
    <%= simple_form_for @proyeccion, html: { class: 'form-horizontal' } do |f| %>
      <%= f.input :nombre , autofocus: true, placeholder:"Nombre De Proyeccion" , autocomplete: "nombre" %>
      <%= f.input :descripcion, :as => :text, :input_html => { 'rows' => 8, 'cols' => 80 } %>
      <%= f.button :submit, "Crear Proyeccion",  class: "btn-primary block full-width m-b" %>
    <% end %>
  </div>
</div>
