<% breadcrumb :proyeccion_show, @proyeccion %>
<h1 class="text-center mov-naranja">CURSO<strong><%=  @proyeccion.nombre %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Nombre: </strong> <%=  @proyeccion.nombre %></p>
         <label for="">Descripccion</label>
         <textarea name="name" rows="5" cols="80"><%=  @proyeccion.descripcion %></textarea>
      </div>
    </div>
  </div>
</div>
