<div class="container_session">
  <div class="session">
    <%= simple_form_for @curso, html: { class: 'form-horizontal' } do |f| %>
      <%= f.input :nombre , autofocus: true, placeholder:"Nombre Del Curso" , autocomplete: "nombre" %>
      <%= f.button :submit, "Registrar Curso",  class: "btn-primary block full-width m-b" %>
    <% end %>
  </div>
</div>
