<h2 class="subtitulo mov-naranja"><strong>Lineas</strong></h2>

<% series = [
  {name: "Pedagogia", data: @Pedagogia},
  {name: "Ingles", data: @ingles},
  {name: "TIC", data: @tic}
  ]
%>

<%  options = {
  title: 'Lineas',
  subtitle: '---',
  xtitle: 'No. Cursos',
  ytitle: 'Lineas',
  stacked: true
  }
%>

<%= line_chart(series, options) %>
