<tr>
  <td><%= link_to cursos_usuarios.nombre , cursos_usuarios_path(cursos_usuarios.id) %></td>
  <td><%= cursos_usuarios.created_at.strftime("%d-%m-%Y %H:%M")  %></td>
  <td><%= cursos_usuarios.updated_at.strftime("%d-%m-%Y %H:%M") %></td>
</tr>
