<h1>CursosUsuarios#show</h1>
<p>Find me in app/views/curso_usuarios/show.html.erb</p>
<h1 class="text-center mov-naranja">CURSO<strong><%= @curso_usuario.nombre %></strong></h1><hr />
<div class="botonContainer">
  <div class="botonSeguimiento">
    <%= link_to "Editar Curso", edit_cursos_usuario_path(@curso_usuario), class: "botonSeguimientoColor"%>
  </div>
  <div class="botonSeguimiento">
    <%= link_to 'Eliminar', { :action => :destroy, :id => @curso_usuario.id }, :method => :delete, :data => { :confirm => 'Estás seguro? de Eliminar este Curso'} , class: "botonSeguimientoColor"%>
  </div>
</div>
