<div class="container_session">
  <div class="session">
    <%= simple_form_for @facultad, html: { class: 'signupForm form-horizontal' } do |f| %>
      <%= f.input :nombre, placeholder:"Nombre De la Facultad", name: "nombre", class: "form-control"%>
      <%= f.button :submit, "Registrar Facultad", class: "btn-primary block full-width m-b" %>
    <% end %>
  </div>
</div>
