<% breadcrumb :programas %>
<h1 class="text-center mov-naranja">LISTA DE <strong>FACULTADES</strong></h1>
<hr />
<div class="row">
  <%= form_tag(facultades_path, class:"navbar-form-custom" , method: :get) do %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
    </div>
  <%end%>
</div><br>
<div class="ibox-content m-b-sm border-bottom">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <tr>
        <th class="active">NOMBRE</th>
      </tr>
      <%= render partial: "facultades", collection: @facultades, as: :facultad %>
    </table>
    <% unless @facultades.present? %>
       <tr>
          <h2 class="text-center">No Hay Informacion Solicitada</h2
       </tr>
    <%end%>
  </div>
</div>
<% if current_user.has_role? :Admin%>
  <div class="botonContainer">
    <div class="botonSeguimiento">
      <%= link_to "Nueva Facultad", new_facultad_path, class: "botonSeguimientoColor"%>
    </div>
  </div>
<%end%>
